.App {
  text-align: center;

  &-logo {
    height: 80px;
    margin-right: 10px;
  }

  &-navbar {
    display: flex;
    background-color: #777777;
  }

  &-nav-link {
    color: white;
  }
  
  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  &-title {
    font-size: 1.5em;
  }
  
  &-intro {
    font-size: large;
  }
}
